services:
  api:
    build:
      context: .
      dockerfile: ./docker/backend.Dockerfile
      target: server
    environment: &env
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/fedi_print"
      JWT_SECRET: "HALLO_WELT"
      PUBLIC_URL: "http://localhost:8080"
      BASE_DOMAIN: "localhost.local"
      S3_BASE_URL: "http://minio:9000"
      S3_REGION: "eu-central-1"
      S3_USERNAME: "fediprint"
      S3_PASSWORD: "fediprint"
      S3_BUCKET_NAME: "fediprint"
      MEILISEARCH_URL: "http://meilisearch:7700"
      MEILISEARCH_KEY: "MAIN_KEY"
    depends_on:
      - db
  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend.Dockerfile
    depends_on:
      - db
  db:
    image: ghcr.io/mawoka-myblock/pg_uuidv7:main
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fedi_print
    volumes:
      - db:/var/lib/postgresql/data
  meilisearch:
    image: getmeili/meilisearch:v1.7
    volumes:
      - search:/meili_data
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_MASTER_KEY: MAIN_KEY
  caddy:
    image: caddy:alpine
    volumes:
      - ./docker/prod.Caddyfile:/etc/caddy/Caddyfile
    ports:
      - 8080:8080
  minio:
    image: bitnami/minio
    environment:
      MINIO_ROOT_USER: fediprint
      MINIO_ROOT_PASSWORD: fediprint
    volumes:
      - minio:/bitnami/minio/data
  worker:
    build:
      context: .
      dockerfile: ./docker/backend.Dockerfile
      target: worker
    environment: *env
    depends_on:
      - db
volumes:
  db:
  search:
  minio:
