name: Cargo Test
on:
  push:
    paths:
      - "src/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "prusaslicer/**"
      - "migrations/**"
      - ".github/workflows/run-tests.yaml"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          submodules: true
      - run: rustup update stable && rustup default stable
      - name: Setup .env
        run: cp .env.example .env
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-tarpaulin
      - name: Deploy docker deps
        run: docker compose -f "docker-compose.yml" up -d --build
#      - run: cargo build --verbose
#      - run: cargo test --verbose
      - uses: Swatinem/rust-cache@v2
      - name: Install SQLx CLI
        run: cargo install sqlx-cli --no-default-features --features native-tls,postgres
      - name: Apply migrations
        run: sqlx mig run
      - name: Run tests & Coverage
        run: cargo tarpaulin --all-features --workspace --out Xml --engine=llvm
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: mawoka-myblock/FediPrint
      - name: Stop containers
        if: always()
        run: docker-compose -f "docker-compose.yml" down